[submodule "services/product-service"]
	path = services/product-service
	url = https://github.com/Haingue/product-service.git
[submodule "services/recipe-service"]
	path = services/recipe-service
	url = https://github.com/Haingue/recipe-service.git
[submodule "services/order-service"]
	path = services/order-service
	url = https://github.com/Haingue/order-service.git
[submodule "clients/cookeasy-client"]
	path = clients/cookeasy-client
	url = https://github.com/Haingue/cookeasy-client.git
[submodule "services/user-service"]
	path = services/user-service
	url = https://github.com/Haingue/user-service.git
